<link rel="stylesheet" href="~/css/MovieModal.css" />
@model CustomMovie
@{

    Layout = null;



}

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">@Html.DisplayFor(x => x.Title)</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <p>
                            <img src="@Html.DisplayFor(x => x.PosterPath)" alt="Image" />
                        </p>
                    </div>
                    <div class="col-md-9">
                        <p>
                            <div class="overview">@Html.DisplayFor(x => x.Overview)</div><br>

                        </p>
                    </div>
                </div>
                <div class="row">                   
                </div> <br />
                @foreach (var item in Model.FtpRelease)
                {
                    <div class="row">
                        <div class="col-md-11">
                            <p>
                                @Html.DisplayFor(modelItem => item.FtpReleasename)<BR>
                            </p>
                        </div>
                        <div class="col-md-1">
                            <p>
                                Button
                            </p>
                        </div>
                    </div>


                }

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>                
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
