<link rel="stylesheet" href="~/css/site.css" />
@model CustomMovie

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">           
            <table id="classTable" class="customTable">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="@Html.DisplayFor(x => x.PosterPath)" alt="Image" /></td>
                        <td>
                            @foreach (var item in Model.FtpRelease)
                            {
                                @Html.DisplayFor(modelItem => item.FtpReleasename)<BR>
                            }
                                            </td>
                      
                    </tr>
                </tbody>
            </table>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
</div>